.txt_technologies:after {
    content: "TECHNOLOGIES";
}

.txt_certificates:after {
    content: "CERTIFICATES";
}

.txt_projects:after {
    content: "PROJECTS";
}

.txt_progress:after {
    content: "# IN PROGRESS # \A\A";
    white-space: pre;
}

.txt_zooschedule:after {
    content: "Planning site designed for zoo employees and managers. This site will allow you to quickly consult your schedule or to easily allocate employees according to opening and closing hours, schedules of your employees and more!";
}

.txt_dingominisolver:after {
    content: "Puzzle solver.";
}
