.txt_technologies:after {
    content: "TECHNOLOGIES";
}

.txt_certificates:after {
    content: "CERTIFICATS";
}

.txt_projects:after {
    content: "PROJETS";
}

.txt_progress:after {
    content: "# EN COURS # \A\A";
    white-space: pre;
}

.txt_zooschedule:after {
    content: "Site de planification conçu pour les employés et les gestionnaires d'un zoo. Ce site vous permettra de consulter rapidement votre horaire ou de répartir les employés en toute simplicité selon les heures d'ouverture et de fermeture, les horaires de vos employés et plus encore!";
}

.txt_dingominisolver:after {
    content: "Solveur d'un casse-tête.";
}
